.skills {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 960px;
    max-width: 80%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

@media (max-width: 1180px) {
    .skills {
        max-width: 100%;
    }
}

.skills h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center;
}


.skills--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 600px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.skills--options>a {
    position: relative;
    width: 150px;
    height: 75px;
    text-decoration: none;
    color: #fff;
    border: 10px solid #0f33ff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.skills--options>a:nth-child(1) {
    background-image: url("../img/about-winners.jpg");
}

.skills--options>a:nth-child(2) {
    background-image: url("../img/about-philosophy.jpg");
}

.skills--options>a:nth-child(3) {
    background-image: url("../img/about-history.jpg");
}

.skills--options>a:hover h3 {
    bottom: -50px;
}

.skills--options h3 {
    position: absolute;
    bottom: -38px;
    left: 10px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: bottom .2s ease-in-out, left .2s ease-in-out;
    transition: bottom .2s ease-in-out, left .2s ease-in-out;
}

.modal--wrapper {
    width: 100%;
    height: 400px; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none; 
    left: 50%;
    top: 50%;
    
    width: 80%;
    max-width: 400px;
    background-color: #0c0c0c;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}

.modal-content {
    padding: 20px;
    color: black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}